*{
  scroll-behavior: smooth;
}
body{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-size: 12px; 
}


@media (max-width: 700px) {
  body{
    font-size: 0.80rem;
  }
  
  h2{
    font-size: 1rem;
  }
}

img {
  max-width: 100%;
  }

  .page-produt {
  display: flex;
  flex-direction: column;
  max-width: 90%;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
  }
  
/*  Header */
#header {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 50px 10px 10px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: #100129;
  font-size: 18px;
}
.enlace {
display: flex;
}

img{
  max-width: 100%;
}
.logo img {
  height: 130px;
  width: 140px;

 
}
#nav-bar {
  display: flex;
  flex-grow: 1;
  min-height: 80px;
  align-items: center;
  padding-right: 100px;
  
}

#nav-bar ul {
  list-style: none;
  overflow: hidden;
}

#nav-bar ul li {
  float: left;
  margin-bottom: 20px;
  
}

#nav-bar ul li a {
  display: block;
  padding: 20px;
  color: #C442DD;
  font-family: 'Pontano Sans', sans-serif;
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
}

#nav-bar ul li a:hover{
  transform: scale(1.2);
  color: white;
}
.checkbtn {
  font-size: 30px;
  float: right;
  line-height: 150px;
  margin-right: 60px;
  cursor: pointer;
  display: none;
  }
  
  #check {
  display: none;
  }

  @media (max-width: 700px) {
    .checkbtn {
        display:block;  
        width: 290px;
    }
    #header {
      max-width: 100%;
      position: fixed;
      margin:auto;
      margin-top: 0;
      padding-left:30%;
      justify-content: center;
      align-items: center;
    }
    .logo img {
      width: 200px;
      height: 140px;
      padding-left: 10px;
      border-radius: 100%;
    }
    
    .enlace {
        display: block;   
    }
    #nav-bar ul {
        display: flex;
        flex-direction: column;
        position: absolute;
    
        width: 100%;
        height: 100vh;
        
        background: violet;
        line-height: 10px;
        top: 190px;
        right: 250%;
        text-align: center;
        transition: all 0.4s;
    }
    #nav-bar ul li {
      padding: 20px;  
      padding-right:50px ; 
    }
    #nav-bar ul li a {
        font-size: 18px;
        color:#fefffe;
        text-align: center;
        border-bottom: 3px inset #fefffe;
        
    }
    #nav-bar ul li a:hover {
        color: #3054f7;
        padding: 20px;
    }
    .active:hover {
        background: none;
    }
    #check:checked ~ ul {
        left: 0;
    }
    }

/* Form */
.form {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 250px;
 
}

.form h1{
font-size: 40px;
}

.form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  width: 100%;
  margin-top: 20px;
}

.form form input {
  display: block;
  
}

.form form input:first-child {
  margin-bottom: 40px;
  max-width: 400px;
  background-color: #efe6ff;
  padding: 10px;
  width: 100%;
}

.form form input:last-child {
  margin-bottom: 30px;
  background-image: linear-gradient(to bottom, #12b7c7, #009ec5, #0084bf, #0069b3, #004c9f, #22409a, #373394, #47218a, #562197, #661fa4, #761ab1, #8810bd);
  color: white;
  padding: 10px 30px;
  font-weight: bold;
  font-size: 15px;
  border: none;
  border-radius: 4px;
}

/*  inicio */
#inicio {
margin: auto;
padding-top: 5rem;
padding-bottom: 1rem;
padding-left: 2rem;
padding-right: 2rem;
text-align: justify;
font-size: 0-70rem;
}

#inicio .card {
padding-top: 2rem;
padding-bottom: 5rem;
min-width: 40px;
display: inline-flex;
border: none;
}

#inicio .card .icon {
  text-decoration: none;
  font-size: 30px;
  width: 80px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  color:#314652; 
}

#inicio .card .content {
  padding-left: 50px;
  padding-bottom: 5px;
}

@media (max-width: 700px) {
  #inicio {
    font-size: 0.80rem;
    }
  #inicio .card .icon {
    display: block;
    
  }

  #inicio .card .content {
    text-align: justify;
  }
}


/* Sobre-nosotros*/
#sobre-nosotros {
  max-width: 100%;
  text-align: justify;
  padding-top: 1rem;
  padding-bottom: 1rem;
  scroll-margin: 25ex;
  font-size: 0.80;
  
}
.setup-gamer{
display: flex;
width:100vh;
height: 80vh;
justify-content: center;
align-items: center;
margin: auto;
padding-top: 5rem;
padding-bottom: 5rem;
}
/* Blog*/
#blog{
  text-align: justify;
  margin-top: 2rem;
  padding-bottom:2rem;
  scroll-margin: 25ex;
  }

#video {
  width:100%;
  height: 50vh;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

/* tienda*/
#tienda{
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  scroll-margin: 30ex;
  font-size: 15px;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
#tienda h2{
  font-size: 1.2rem;
}

#tienda .card {
  margin: 0 auto;
  margin-bottom: 15px;
  border: 1px solid #000;
  max-width: 340px;
  width: 100%;
  border-radius: 4px;
  text-align: center;
}

#tienda .card h2 {
  background-image: linear-gradient(to bottom, #12b7c7, #009ec5, #0084bf, #0069b3, #004c9f, #22409a, #373394, #47218a, #562197, #661fa4, #761ab1, #8810bd);
  color: #fefffe;
  padding: 20px 0;
  width: 100%;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
  margin-bottom: 15px;
  
  
}

#tienda .card strong {
  font-size: 16px;
}

#tienda .card img{
  width: 80%;
  padding-top: 2rem;
  padding-bottom: 0.5rem;
}

#tienda .card button {
  border: 0;
  margin: 15px 0;
  background-image: linear-gradient(to bottom, #12b7c7, #009ec5, #0084bf, #0069b3, #004c9f, #22409a, #373394, #47218a, #562197, #661fa4, #761ab1, #8810bd);
  color: white;
  padding: 10px 25px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-size: 15px;
}

/* buttons*/
#redes-sociales{
  text-align: center;
  scroll-margin: 30ex;
}
.buttons {
  padding-top: 5rem;
  padding-bottom: 5rem;
  min-width: 30px;
  display: flex;
  justify-content: space-around;
}

.buttons a {
  text-decoration: none;
  font-size: 30px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background: #314652;
  color: #f1f1f1;
  border-radius: 30%;
  transition: all .4s ease-in-out;

}

.buttons a:hover {
  transform: scale(1.2);
}

/* Footer*/
#footer {
margin-top: 20px;
padding-top: 10px;
padding-bottom: 20px;
text-align: center;
background-color: #100129;
color: white;
font-size:16px;
}

#footer p{
  font-size: 10px;
  text-align: center;
}

#footer > ul {
  padding: 1;
  
}

#footer > ul li {
  display: flex;
}

#footer > ul li:not(last-child) {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}


#footer > ul li a {
  color:#C442DD;
  text-decoration: none;
}

#footer > ul li a:hover{
  transform: scale(1.2);
  color:white;
  
}
/* ======== Media query ========*/

  @media (min-width: 700px) {
    .setup-gamer {
      min-width: 80%;
      height: 50%;
    }
  }

  @media (max-width: 700px) {
    .form {
      max-width: 100%;
      justify-content: center;
      align-items: center;
      padding-left: 1rem;
    }
    
    .form h1{
      font-size: 25px;
      padding-top: 2rem;
      text-align: center;
      }
      .form form input:first-child {
        margin-bottom: 40px;
        max-width: 70%;
        padding: 15px;
        width: 150%;
      }
      
      .form form input:last-child {
        font-size: 16px;
      }
      
    }

  @media (max-width: 700px) {
    #video {
      min-width:100%;
      height: 100%; 
    }
  }

@media (max-width: 700px) {
  #tienda {
    width: 102%;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    padding-bottom: 2rem;
    scroll-margin: 30ex;
    font-size: 20px; 
  }
}

@media (max-width: 700px) {
  #footer {
    font-size: 12px;
  }
  
  
}







  
  

    









  
